@font-face {
    font-family: malina;
    src: url(../fonts/malina-webfont.woff);
    src: url(../fonts/malina_webfont.ttf) format('embedded-opentype'), url(../fonts/malina-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

#content {
    display: flex;
    flex-wrap: wrap;
}

.pizzas {
    display: inherit;
    flex-direction: column;
    margin: 5px;
}

img {
    object-fit: contain;
    /*height: 130px;*/
    /*width: 300px;*/
}

p {
    font-family: malina, sans-serif;
    font-size: 24px;
    color: #ff5200;
}