@import 'rules.scss';

body {
  display: grid;
  padding: 20px 90px;

  #wrapper {
    #orderRegistration {
      font-family: Malina, sans-serif;
      color: $colorSecondary;
    }

    #ourOrder {
      font: 34px/1.1 Malina, sans-serif;
      letter-spacing: -1px;
      margin: 20px 0;
      color: $colorSecondary;
    }

    #order {
      & > #orderPizza:not(:first-child) {
        border-top: 1px solid #c3c3c3;
      }

      #orderPizza {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;

        #title {
          #orderTitle {
            color: $colorPrimary;
            font: 28px/1.2 Malina, sans-serif;
            letter-spacing: -.5px;
          }

          #orderSize {
            font: 13px/1 Arial, Helvetica, sans-serif;
            color: $colorDesc;
            padding-top: 4px;
          }
        }

        #changeCount {
          display: flex;

          .orderMinus {
            @include buttonCount;
          }

          #orderCounter {
            color: $colorSecondary;
            font-size: 21px;
            font-weight: 700;
            line-height: 30px;
            padding: 0 2px;
            font-family: Helvetica, Arial, sans-serif;
          }

          .orderPlus {
            @include buttonCount;
          }
        }

        #orderPrice {
          font-size: 21px;
          font-weight: 700;
          font-family: Helvetica, Arial, sans-serif;
        }
      }

    }

    .totalPrice {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      margin: 50px 0;

      .totalTitle {
        letter-spacing: -.5px;
        padding: 0 20px 0 0;
        color: #999;
        font: 20px/22px Malina, sans-serif;
      }

      #totalCost {
        font-size: 32px;
        color: $colorSecondary;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 42px;
      }
    }

    #address {
      font: 34px/1.1 Malina, sans-serif;
      letter-spacing: -1px;
      margin: 30px 0;
    }

    #fullDeliveryAddress {
      #privateData {
        list-style: none;

        & > li {
          margin: 20px 0;
        }

        .nameForTextarea {
          font-size: 17px;
          font: 17px/1.2 Helvetica, Arial, sans-serif;
          color: $colorSecondary;
          margin: 2px 0;
        }

        .textarea {
          border: 1px solid #c3c3c3;
          font-size: 21px;
          padding: 4px 6px 4px 12px;
          margin: 2px 0;
          color: $colorSecondary;
          font-family: Helvetica, Arial, sans-serif;
        }

        #privateDataName {
          #name {
            width: 336px;
          }
        }

        #privateDataPhone {
          #phoneCode {
            width: 75px;
            float: left;
            margin: 2px 5px 0 0;
          }

          #phone {
            width: 256px;
            float: left;
            margin: 2px 12px 2px 0;
          }

          #example {
            color: $colorDesc;
            font-size: 13px;
            line-height: 16px;
            padding: 2px 0 0 0;
          }
        }

        #privateDataAddress {
          margin: 0 0 20px 0;
          display: flex;

          & > .privateDataWrapper:not(:first-child) {
            margin: 0 10px;
          }

          .privateDataWrapper {
            .privateDataHouse {
              color: $colorDesc;
            }

            .privateDataHouseTextArea {
              width: 71px;
            }
          }

          #streetWrapper {
            margin: 0 10px 0 0;

            #street {
              width: 356px;
            }

          }

          #houseWrapper {
            #house {
              width: 91px;
            }
          }
        }

        #privateDataComment {
          #comment {
            width: 100%;
          }
        }
      }

      #delivery {
        margin: 40px 0 0 0;

        #deliveryTitle {
          color: $colorDesc;
          font: 20px/1.1 Malina, sans-serif;
          letter-spacing: -.5px;
          margin: 0 0 20px 0;
        }

        #deliveryDesc {
          background-color: #F6F6F6;
          padding: 20px;
          font: 17px/1.2 Helvetica, Arial, sans-serif;
          width: 669px;
          margin: 0 0 40px 0;
        }

        .deliveryContactBtn {
          cursor: pointer;
          color: #fff;
          font: 17px/1 Malina, sans-serif;
          letter-spacing: -.25px;
          padding: 14px 20px;
          background-color: $colorDesc;
          border-radius: 10px;
          margin: 0 10px 0 0;

          .deliveryContact {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
          }

        }
      }

      #payment {
        margin: 35px 0;

        #paymentTitle {
          color: $colorDesc;
          font: 20px/1.1 Malina, sans-serif;
          letter-spacing: -.5px;
          margin: 15px 0 35px;
        }

        .paymentBtn {
          cursor: pointer;
          color: #fff;
          font: 17px/1 Malina, sans-serif;
          letter-spacing: -.25px;
          padding: 14px 20px;
          background-color: $colorDesc;
          border-radius: 10px;
          margin: 0 10px 0 0;

          .paymentCheck {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
          }
        }
      }
    }

    .totalPrice {
      .totalTitle {
        #total {
          font-size: 32px;
          color: $colorSecondary;
          font-family: Helvetica, Arial, sans-serif;
          line-height: 42px;
        }
      }
    }
  }
}