@import 'rules.scss';

body {
  padding: 20px;

  #wrapper {

    header {
      display: flex;
      flex-direction: column;
      text-align: end;

      #cart {
        font: 32px Malina, sans-serif;
        letter-spacing: -.5px;
        margin: 5px 0;

        #cartLink {
          text-decoration: none;
          color: $primaryFirst;

          &:hover {
            color: $hover;
          }
        }
      }
    }

    #pizzasList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .pizzaItem {
        display: inherit;
        flex-direction: column;
        width: 300px;
        margin: 20px;

        #pizzaTitle {
          font: 24px Malina, sans-serif;
          color: $primaryFirst;
          margin: 10px 0;

          &:hover {
            color: $hover;
            cursor: pointer;
          }
        }

        .pizzaSizes {
          margin: 10px 0;

          .pizzaSizeBig {
            display: inline-grid;
            grid-template-columns: 1fr 1fr;

            .pizzaSizeTitleClass {
              @include pizzaSizeTitleClass;
            }

            .pizzaSizePriceClass {
              @include pizzaSizePriceClass;
            }

            .pizzaSizeWeightClass {
              @include pizzaSizeWeightClass;
            }

            .pizzaSizeBasket {
              font: 20px/22px Malina, sans-serif;
              letter-spacing: -.5px;
              background: $backgroundBtnBasket;
              color: $primaryFirst;
              border-width: 0;
              border-radius: 11px;
              padding: 7px 12px 8px;
              margin: 0 0 0 20px;

              &:hover {
                background: $hover;
                color: $primaryLight;
                cursor: pointer;
              }
            }

          }

          .pizzaSizeMedium {
            .pizzaSizeTitleClass {
              @include pizzaSizeTitleClass;
            }

            .pizzaSizePriceClass {
              @include pizzaSizePriceClass;
            }

            .pizzaSizeWeightClass {
              @include pizzaSizeWeightClass;
            }
          }

          .pizzaSizeThin {
            .pizzaSizeTitleClass {
              @include pizzaSizeTitleClass;
            }

            .pizzaSizePriceClass {
              @include pizzaSizePriceClass;
            }

            .pizzaSizeWeightClass {
              @include pizzaSizeWeightClass;
            }
          }

          #changeCount {
            display: none;
            justify-content: center;
            position: relative;
            top: -35px;
            left: 20px;

            @include changeCountBtn;
          }
        }

        .anonce {
          font: 15px Helvetica, Arial, sans-serif;
          color: $secondarySecond;
        }
      }
    }
  }

}