@import 'rules.scss';

body {
  padding: 20px;

  #wrapper {

    header {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin: 0 0 30px 0;

      #cart {
        font: 32px Malina, sans-serif;
        letter-spacing: -.5px;
        margin: 5px 0;

        #cartLink {
          text-decoration: none;
          color: $primaryFirst;

          &:hover {
            color: $hover;
          }
        }
      }
    }

    #pizzasList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .pizzaItem {
        display: inherit;
        flex-direction: column;
        width: 300px;
        margin: 40px;

        .pizzaDesc {
          padding: 10px;

          #pizzaTitle {
            font: 24px Malina, sans-serif;
            color: $primaryFirst;
            margin: 10px 0;
            //padding: 0 10px;
            display: contents;

            &:hover {
              color: $hover;
              cursor: pointer;
            }
          }

          .pizzaSizes {
            margin: 10px 0;
            //padding: 0 10px;

            .pizzaSizeBig {
              @include markingForPizzaSize;
            }

            .pizzaSizeMedium {
              @include markingForPizzaSize;
            }

            .pizzaSizeThin {
              @include markingForPizzaSize;
            }
          }

          .anonce {
            font: 15px Helvetica, Arial, sans-serif;
            color: $secondarySecond;
            //padding: 0 10px;
          }
        }
      }

    }
  }
}