@font-face {
  font-family: "Malina";
  src: url("../fonts/malina_webfont.ttf") format("truetype"); }

body {
  display: grid;
  padding: 20px 90px; }
  body #wrapper #orderRegistration {
    font-family: Malina, sans-serif;
    color: #000; }
  body #wrapper #ourOrder {
    font: 34px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
    margin: 20px 0;
    color: #000; }
  body #wrapper #order > #orderPizza:not(:first-child) {
    border-top: 1px solid #c3c3c3; }
  body #wrapper #order #orderPizza {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px; }
    body #wrapper #order #orderPizza #title #orderTitle {
      color: #ff5200;
      font: 28px/1.2 Malina, sans-serif;
      letter-spacing: -.5px; }
    body #wrapper #order #orderPizza #title #orderSize {
      font: 13px/1 Arial, Helvetica, sans-serif;
      color: #999;
      padding-top: 4px; }
    body #wrapper #order #orderPizza #changeCount {
      display: flex; }
      body #wrapper #order #orderPizza #changeCount .orderMinus {
        cursor: pointer;
        color: #fff;
        width: 30px;
        height: 30px;
        font: 30px/1 Malina,sans-serif;
        letter-spacing: -1px;
        border: none;
        border-radius: 50%;
        background-color: #277dff;
        margin: 0 10px; }
      body #wrapper #order #orderPizza #changeCount #orderCounter {
        color: #000;
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px;
        font-family: Helvetica, Arial, sans-serif; }
      body #wrapper #order #orderPizza #changeCount .orderPlus {
        cursor: pointer;
        color: #fff;
        width: 30px;
        height: 30px;
        font: 30px/1 Malina,sans-serif;
        letter-spacing: -1px;
        border: none;
        border-radius: 50%;
        background-color: #277dff;
        margin: 0 10px; }
    body #wrapper #order #orderPizza #orderPrice {
      font-size: 21px;
      font-weight: 700;
      font-family: Helvetica, Arial, sans-serif; }
  body #wrapper .totalPrice {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 50px 0; }
    body #wrapper .totalPrice .totalTitle {
      letter-spacing: -.5px;
      padding: 0 20px 0 0;
      color: #999;
      font: 20px/22px Malina, sans-serif; }
    body #wrapper .totalPrice #totalCost {
      font-size: 32px;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 42px; }
  body #wrapper #address {
    font: 34px/1.1 Malina, sans-serif;
    letter-spacing: -1px;
    margin: 30px 0; }
  body #wrapper #fullDeliveryAddress #privateData {
    list-style: none; }
    body #wrapper #fullDeliveryAddress #privateData > li {
      margin: 20px 0; }
    body #wrapper #fullDeliveryAddress #privateData .nameForTextarea {
      font-size: 17px;
      font: 17px/1.2 Helvetica, Arial, sans-serif;
      color: #000;
      margin: 2px 0; }
    body #wrapper #fullDeliveryAddress #privateData .textarea {
      border: 1px solid #c3c3c3;
      font-size: 21px;
      padding: 4px 6px 4px 12px;
      margin: 2px 0;
      color: #000;
      font-family: Helvetica, Arial, sans-serif; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataName #name {
      width: 336px; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataPhone #phoneCode {
      width: 75px;
      float: left;
      margin: 2px 5px 0 0; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataPhone #phone {
      width: 256px;
      float: left;
      margin: 2px 12px 2px 0; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataPhone #example {
      color: #999;
      font-size: 13px;
      line-height: 16px;
      padding: 2px 0 0 0; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataAddress {
      margin: 0 0 20px 0;
      display: flex; }
      body #wrapper #fullDeliveryAddress #privateData #privateDataAddress > .privateDataWrapper:not(:first-child) {
        margin: 0 10px; }
      body #wrapper #fullDeliveryAddress #privateData #privateDataAddress .privateDataWrapper .privateDataHouse {
        color: #999; }
      body #wrapper #fullDeliveryAddress #privateData #privateDataAddress .privateDataWrapper .privateDataHouseTextArea {
        width: 71px; }
      body #wrapper #fullDeliveryAddress #privateData #privateDataAddress #streetWrapper {
        margin: 0 10px 0 0; }
        body #wrapper #fullDeliveryAddress #privateData #privateDataAddress #streetWrapper #street {
          width: 356px; }
      body #wrapper #fullDeliveryAddress #privateData #privateDataAddress #houseWrapper #house {
        width: 91px; }
    body #wrapper #fullDeliveryAddress #privateData #privateDataComment #comment {
      width: 100%; }
  body #wrapper #fullDeliveryAddress #delivery {
    margin: 40px 0 0 0; }
    body #wrapper #fullDeliveryAddress #delivery #deliveryTitle {
      color: #999;
      font: 20px/1.1 Malina, sans-serif;
      letter-spacing: -.5px;
      margin: 0 0 20px 0; }
    body #wrapper #fullDeliveryAddress #delivery #deliveryDesc {
      background-color: #F6F6F6;
      padding: 20px;
      font: 17px/1.2 Helvetica, Arial, sans-serif;
      width: 669px;
      margin: 0 0 40px 0; }
    body #wrapper #fullDeliveryAddress #delivery .deliveryContactBtn {
      cursor: pointer;
      color: #fff;
      font: 17px/1 Malina, sans-serif;
      letter-spacing: -.25px;
      padding: 14px 20px;
      background-color: #999;
      border-radius: 10px;
      margin: 0 10px 0 0; }
      body #wrapper #fullDeliveryAddress #delivery .deliveryContactBtn .deliveryContact {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none; }
  body #wrapper #fullDeliveryAddress #payment {
    margin: 35px 0; }
    body #wrapper #fullDeliveryAddress #payment #paymentTitle {
      color: #999;
      font: 20px/1.1 Malina, sans-serif;
      letter-spacing: -.5px;
      margin: 15px 0 35px; }
    body #wrapper #fullDeliveryAddress #payment .paymentBtn {
      cursor: pointer;
      color: #fff;
      font: 17px/1 Malina, sans-serif;
      letter-spacing: -.25px;
      padding: 14px 20px;
      background-color: #999;
      border-radius: 10px;
      margin: 0 10px 0 0; }
      body #wrapper #fullDeliveryAddress #payment .paymentBtn .paymentCheck {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none; }
  body #wrapper .totalPrice .totalTitle #total {
    font-size: 32px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 42px; }
