@font-face {
  font-family: "Malina";
  src: url("../fonts/malina_webfont.ttf") format("truetype"); }

body {
  padding: 20px; }
  body #wrapper header {
    display: flex;
    flex-direction: column;
    text-align: end; }
    body #wrapper header #cart {
      font: 32px Malina, sans-serif;
      letter-spacing: -.5px;
      margin: 5px 0; }
      body #wrapper header #cart #cartLink {
        text-decoration: none;
        color: #ff5200; }
        body #wrapper header #cart #cartLink:hover {
          color: #16bc00; }
  body #wrapper #pizzasList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body #wrapper #pizzasList .pizza {
      display: inherit;
      flex-direction: column;
      width: 300px;
      margin: 20px; }
      body #wrapper #pizzasList .pizza #pizzaTitle {
        font: 24px Malina, sans-serif;
        color: #ff5200;
        margin: 10px 0; }
        body #wrapper #pizzasList .pizza #pizzaTitle:hover {
          color: #16bc00;
          cursor: pointer; }
      body #wrapper #pizzasList .pizza .pizzaSize {
        margin: 10px 0; }
        body #wrapper #pizzasList .pizza .pizzaSize .pizzaSizeTitle {
          font: 15px Helvetica, Arial, sans-serif;
          color: #999; }
        body #wrapper #pizzasList .pizza .pizzaSize .pizzaSizePrice {
          font: 32px/1.1 Malina, sans-serif;
          color: #000; }
          body #wrapper #pizzasList .pizza .pizzaSize .pizzaSizePrice .pizzaSizeBasket {
            font: 20px/22px Malina, sans-serif;
            letter-spacing: -.5px;
            background: #e9e9e9;
            color: #ff5200;
            border-width: 0;
            border-radius: 11px;
            padding: 7px 12px 8px;
            margin: 0 0 0 20px; }
            body #wrapper #pizzasList .pizza .pizzaSize .pizzaSizePrice .pizzaSizeBasket:hover {
              background: #16bc00;
              color: #fff;
              cursor: pointer; }
        body #wrapper #pizzasList .pizza .pizzaSize #changeCount {
          display: none;
          justify-content: center;
          position: relative;
          top: -35px;
          left: 20px; }
          body #wrapper #pizzasList .pizza .pizzaSize #changeCount .orderMinus {
            cursor: pointer;
            color: #fff;
            width: 30px;
            height: 30px;
            font: 30px/1 Malina, sans-serif;
            letter-spacing: -1px;
            border: none;
            border-radius: 50%;
            background-color: #277dff;
            margin: 0 10px; }
          body #wrapper #pizzasList .pizza .pizzaSize #changeCount #orderCounter {
            color: #000;
            font-size: 21px;
            font-weight: 700;
            line-height: 30px;
            padding: 0 2px;
            font-family: Helvetica, Arial, sans-serif; }
          body #wrapper #pizzasList .pizza .pizzaSize #changeCount .orderPlus {
            cursor: pointer;
            color: #fff;
            width: 30px;
            height: 30px;
            font: 30px/1 Malina, sans-serif;
            letter-spacing: -1px;
            border: none;
            border-radius: 50%;
            background-color: #277dff;
            margin: 0 10px; }
        body #wrapper #pizzasList .pizza .pizzaSize .pizzaWeight {
          font: 12px Helvetica, Arial, sans-serif;
          color: #999; }
      body #wrapper #pizzasList .pizza .anonce {
        font: 15px Helvetica, Arial, sans-serif;
        color: #999; }
